---
const today = new Date();
---

<footer class="footer">
      <span>Copyright © 2022 Turbosrc contributors</span>
</footer>
<style>
	.footer {
     display: flex;
     height: fit-content;
     align-items: flex-end;
     padding: 9px 0;
     color: white;
     background-color: #160f24;
     margin: auto 0 0 0;
	 
 }
 .footer span{
	font-family: 'Poppins', sans-serif;
	font-size:12px;
	padding:0 0px 0 10px;
 }
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
